<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <link>
    </head>
    <body>
        <div class="land-header">
            <h1>Welcome to YelpCamp!</h1>
            <a class="btn btn-success" href="/campgrounds">view all campgrounds</a>
        </div>
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
<%- include('partials/footer'); -%>